/* CXUQE-295 transform banner to block */
.floating-label {
  background: none !important;
  color: #ff0000 !important;
  text-transform: none !important;
  transform: none !important;
  text-align: left !important;
  position: relative !important;
  padding: 1rem 0rem !important;
  margin-bottom: 1rem;
  top: auto !important;
  right: auto !important;
}

.ticket-count-wrapper .status-text {
  font-size: .825rem !important;
  text-transform: none !important;
}

/* Reassign root colours */ 
:root {
    --errorColor: #951126;
}

/* ------
Simple UI override 
------ */ 

.details {
    width: 20rem !important;
}

.cover-image,
.done-button,
.ticket-availability-banner,
.inner .check{
    display: none !important;
}

@media (max-width: 60rem) {
    body {
        background: #ffffff; !important;
    }
    .details {
        margin: 0px auto !important;
    }
}

.mobile-active {
    max-width: 90% !important;
    padding: 20px !important;
    margin: 0px auto !important;
}
  
/* Override container dropshadow */
.container {
    padding:5rem;
}

#main .header {
    height: 90px !important;
    background: #51247a url(https://static.uq.net.au/v11/logos/corporate/uq-logo--reversed.png) no-repeat 15px 15px !important;
    background: #51247a url(https://static.uq.net.au/v11/logos/corporate/uq-logo--reversed.svg) no-repeat 15px 15px !important;
    background-size: 180px !important;
}

.mat-elevation-z2, .mat-expansion-panel:not([class*=mat-elevation-z]) {
    border: 1px solid #efedeb;
    border-radius: .25rem;
    box-shadow: 0 0.25rem 0.25rem rgb(43 42 41 / 5%);
}

/* Content override */
.details h1.event-name {
    color: #51247a;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 auto 3rem;
}

.cover-image {
    margin-bottom :3rem;
}
/* causes form fields to increase size FAQS tabbed UI
.content {
    margin-top: 3rem;
}
*/
.content p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: calc(1.7rem*var(--lineHeightFactor));
}

.event-date {
  font-size: 1rem !important;
}

.event-location {
  font-size: 1rem !important;
  align-items: initial !important;
}

.event-location-details span {
  display: block !important;
}

/* ------
BYO-CSS UI override 
------ */ 

    #main .cover-container, .bt-card {
        border: 1px solid #efedeb;
        border-radius: .25rem;
        box-shadow: 0 0.25rem 0.25rem rgb(43 42 41 / 5%);
    }

    #main .cover-container .organizer-name,
    #main .cover-container .starting-price,
    #main .description,
    #main .bt-card,
    .ticket-info-button,
    .actions .done-btn,
    .status-card .success-image{
        display: none !important;
    }

    .overview {
        flex: none !important;
    }
    .content-container {
        padding: 100px 0 !important;
    }
   
    #main .price {
        margin-top: 0 !important;
    }

    .mat-expansion-panel-body .container {
        padding: 0 !important;
    }

/* Header */
    .appbar {
      background: #51247a !important;
      padding: 0px 15px !important;
    }
    .appbar-header {
      height: 55px !important;
      max-width: 76rem !important;
      margin: 0px auto !important;
      align-items: center !important;
      box-sizing: border-box !important;
      background-size: 180px !important;
    }
    .appbar-header .get-tickets-button {
        display: none !important;
    }
    .appbar-header button.back-button {
        display: none !important;
    } 
    .appbar-header .appbar-title {
        display: none !important;
    }
    .appbar-header .title {
        Color: #fff !important;   
        margin: .67rem 0 !important;
        padding-left: 200px !important; 
    }
    .appbar-header {
        width: 100%;
        background: url(https://static.uq.net.au/v11/logos/corporate/uq-logo--reversed.png) no-repeat 0 0;
        background: url(https://static.uq.net.au/v11/logos/corporate/uq-logo--reversed.svg) no-repeat 0 0;
    }
    @media (max-width: 37.4375rem){
        .appbar-header{
          height: auto !important; 
          padding: 0 !important; 
        }  
    }
    @media (max-width: 37.4375rem) {
        .overview {
            margin-bottom: 0 !important; 
            box-shadow: none !important;
        }
        .appbar-header {
            margin-left: 10px !important;
        }
        .appbar-header .title {
            display: none !important;
        }
    }

    @media (max-width: 59.9375rem) {
        .overview {
            box-shadow: none !important;
        }   
    }

    @media (min-width: 37.5rem) and (max-width: 59.9375rem) {
        
    }

/* make icons same colour as UQ pages (too many variants recommend we leave as default.*/
#main .mat-icon {
    color:#51247a;
}

/* Hide the dropdowns for topics, days and tracks on the session screen */ 

.sessions-wrapper .filter-content:nth-child(2) {
display: none !important ;
}

/* Hide the price items in the summary panel on the right */ 

.card-body .row-space-between, .card-body .divider {
display: none !important;
}

/* CSS for the floating label on Simple and BYO-CSS (step 1) */
/* CXUQE-295 transform banner to block */
.floating-label {
    background: #951126 !important;
    color: #FFF !important;
    text-transform: none !important;
    transform: none !important;
    text-align: left !important;
    position: relative !important;
    padding: 1rem 1rem !important;
    margin-bottom: 1rem;
    top: auto !important;
    right: auto !important;
   }

/* CSS for BYO-CSS (step 2) */
.ticket-count-wrapper .status-text {
    font-size: .825rem !important;
    text-transform: none !important;
    }

/* There was no padding at smallest mobile size */
@media (max-width: 37.4375rem) {
    .details {
        padding: 1rem !important;
    }
}

/* Remove payment email from payment screen */
.payment-card .mat-form-field-type-mat-input {
    display: none;
}

/* AttendeeLink page */
bt-event-attendeelink-main,
bt-survey-main {
    background: #51247a url(https://static.uq.net.au/v11/logos/corporate/uq-logo--reversed.png) no-repeat 15px 15px !important;
    background: #51247a url(https://static.uq.net.au/v11/logos/corporate/uq-logo--reversed.svg) no-repeat 15px 15px !important;
    background-size: 180px !important;
    display: block !important;
}

.cancel-button {
  background: #fff !important;
  border: #51247a 1px solid !important;
  color: #51247a !important;
}

/* Waitlist page */
